.navbarStoryUnit {
	margin-top: 30px;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 3;
	transition: all 0.5s ease;
	border-bottom: 2px solid rgb(24,131,238);
	border-top: 2px solid rgb(24,131,238);
}
.navbarStoryUnit.Scrolled {
	margin-top: 0;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 3;
	transition: all 0.5s ease;
	border-top: 0px solid rgb(24,131,238)
}
.navHolder {
	height: 100%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 2px solid white;
}
.navImg {
	height: 100px;
	position: relative;
	top: -27px;
	transition: all 0.5s ease;
}
.navImg.Scrolled {
	height: 50px;
	position: relative;
	top: 0;
	transition: all 0.5s ease;
}
.navItem {
	line-height: 50px;
	text-align: center;
	display: block;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	color: black;
	border-top: 0px solid;
	border-bottom: 0px solid rgb(24,131,238);
	text-decoration: none;
	transition: all 0.2s ease;
}
.navItem:hover {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid rgb(24,131,238);
	transition: all 0.2s ease;
}